.body {
    background-color: #ccc;
}

.wrapper {
    width: 600px;
    height: 500px;
    background-color: #fff;
    border: 1px solid #000;
    margin: 30px auto;
}

.caption {
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
}

label {
    display: block;
}

.box {
    padding-top: 30px;
    padding-left: 50px;
}

form {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 0 auto;
}

.divButton {
    text-align: center;
}

button {
    font-size: 16px;
    padding: 10px;
}